<div class="event__time m-right text-right">
  <time class="event__time__value grey--light ms4">{{data.startTime}}</time>
  <time class="event__time__value grey--light ms4">{{data.endTime}}</time>
</div>

<div class="event__desc">
  <p class="event__name ms4">{{data.title}}</p>
  <p class="ms4 grey--light">{{data.category}}</p>
</div>

<div class="event__location">
  <span class="ms4 grey--light text-right">{{data.venue}}</span>
</div>
